<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:p="http://www.springframework.org/schema/p"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">
<bean name="emp" class="com.springcore.collections.Employee">
<property name="name" value="amir"/>
<property name="phoneNumber">
<list>
<value>9007783236</value>
<value>8274939708</value>
<value>9330097188</value>
<value>9523032083</value>
</list>
</property>
<property name="address">
<set>
<value>Gadai Saray</value>
<value>Hajipur</value>
<value>Vaishali</value>
<value>Belbar</value>
</set>
</property>
<property name="courses">
<map>
<entry key="java" value="2 months"/>
<entry key="python" value="3 months"/>
</map>
</property>

</bean>
</beans>
 